@import "../../scss/variables";

.status-ledger-connect {
  margin-left: 0.5rem;
  &--notConnected {
    background-color: $dfi-red;
  }
  &--connected {
    background-color: $dfi-green;
    width: 11px;
    height: 11px;
  }

  .size {
    width: 11px;
    height: 11px;
  }
}
