// App and Bootstrap variables required
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '../../../../../scss/variables';
@import '../../../../../scss/bootstrap/variables';
@import '../../../../../scss/utility';

.table {
  margin-bottom: 0;

  td {
    vertical-align: middle;
  }

  tr:first-child td,
  tr:first-child th {
    border-top: none;
  }
}

.actionCell {
  width: 24px;
  height: 24px;
}

.qrCc svg {
  color: $black;
}

.colorRed {
  color: $red;
}

.addressContainer {
  max-width: 175px;
}