// App and Bootstrap variables required
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '../../scss/variables';
@import '../../scss/bootstrap/variables';

.error-dailog {
  color: $dfi-red !important;
}

.valueTxt {
  color: rgba(0, 0, 0, 0.6);
  text-align: right;
}
