.not-found-ledger-modal {
  &__header {
    h2, h5 {
      text-align: center;
      width: 100%;
    }
  }

  &__subheader {
    text-align: center;
  }

  &__item {
    margin-bottom: 0;
  }

  &__content {
    display: grid;
    justify-content: center;
  }

  &__help-body {
    text-align: center;
  }
}
