@import '../../scss/bootstrap/common';

.passwordInput {
  padding-right: 2.75rem;
}

.passwordEye {
  display: flex;
  position: absolute;
  right: 0px;
  font-size: 1.7rem;
  color: $secondary;
  margin-right: 0.9375rem;
  cursor: pointer;
  height: 100%;
  align-items: center;
}
