// App and Bootstrap variables required
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '../../../scss/variables';
@import '../../../scss/bootstrap/variables';

.keyValueLi {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding: $table-cell-padding-y 0;
  width: 100%;
}

.label {
  padding-right: 1rem;
}

.value {
  position: relative;
  display: grid;
  grid-template-columns: 230px 1fr;
  width: inherit;

  svg {
    display: block;
    color: $secondary;
  }
}

.copiedIndicator {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $dfi-scent;
  align-items: center;
  justify-content: center;
  display: none;
}

.card {
  .copiedIndicator {
    background-color: $body-bg;
  }
}

.qr {
  display: block;
  margin-top: 4px;
  margin-bottom: 4px;
  padding: 8px;
}
