@import '../../scss/bootstrap/common';

.dark {
  background-color: $gray-900 !important;
  color: $white;
}

.errorModal {
  text-align: center;
  margin-top: 1rem;

  .errorModalContent {
    display: inline-block;
  }

  svg {
    color: $dfi-red;
  }
  .errorLoaderContent {
    display: inline-block;
    svg {
      -webkit-animation: rotation 2s infinite linear;
      animation: rotation 2s infinite linear;
    }
  }
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    visibility: visible;
  }

  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
