// App and Bootstrap variables required
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '../../../../../scss/variables';
@import '../../../../../scss/bootstrap/variables';

.card {
  overflow: hidden;
}

// .tableResponsive {
//   height: calc(100vh - 186px);
//   min-height: 400px;
//   overflow: auto;
// }

.table {
  margin-bottom: 0;

  thead th {
    position: sticky;
    top: 0;
    background-color: $card-bg;
    box-shadow: 0 $table-border-width $table-border-color;
  }

  td {
    vertical-align: middle;
  }

  tr:first-child td,
  tr:first-child th {
    border-top: none;
  }
}

.status {
  width: 24px;
  height: 24px;
  color: $secondary;
}
