// App and Bootstrap variables required
@import '../../scss/bootstrap/common';

.sidebar {
  width: 224px;
  background-color: $white;
  display: flex;
  flex-direction: column;
  flex: 0 0 224px;
  z-index: 2;
}

.blur {
  background: $gray-200;
}

div[disabled] {
  pointer-events: none;
  opacity: 0.7;
}

.iconSideBar {
  min-height: 26px;
}

.iconNavTop {
  color: $secondary;
  cursor: pointer;
  &:hover:not(.navBadgeLocked) {
    color: $black;
    transition: all 0.2ms linear;
  }
}

.currentNetwork {
  position: relative;
  height: 70px;
  border-bottom: $border-width solid $border-color;
  padding: 0px 20px 25px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  &:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -1;
    -webkit-app-region: drag;
  }
}

.currentNetworkHeading {
  font-size: $font-size-sm;
  font-weight: $font-weight-medium;
}

.currentNetworkValue {
  display: flex;
  font-size: $font-size-sm;
  color: $secondary;
}

.balanceLabel,
.balanceValue {
  flex-basis: 100%;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.balanceLabel {
  font-weight: $font-weight-semibold;
}

.balanceValue {
  color: $secondary;
}

.navs {
  flex-grow: 1;
  padding: 16px;
  min-height: 384px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
}

.navMain,
.navSub {
  margin-top: 12px;
  margin-bottom: 16px;
  flex-wrap: nowrap;

  .navItem {
    margin: 0.25rem 0;
  }

  .navLink {
    color: $secondary;
    display: flex;
    align-items: center;
    padding: 0.75rem 1rem;

    text-transform: none;
    font-weight: $font-weight-normal;

    border: none;
    border-radius: 0.25rem;

    transition: color, background-color 250ms;

    &:hover:not(.active) {
      color: inherit;
    }

    svg {
      width: 24px;
      height: 24px;
      margin-right: 12px;
    }
  }

  .active {
    background-color: $dfi-scent;
    color: $body-color;

    svg {
      color: $primary;
    }
  }
}

.navSubIcon {
  margin: 0;
  justify-content: center;

  .navLink {
    padding: 0.75rem;
  }

  svg {
    margin-right: 0 !important;
  }
}

.navBadgeIcon {
  background-color: $light;
  font-size: 1.5rem;
  color: $secondary;
  padding: 0.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.5rem;
  &:hover:not(.active) {
    background-color: $dfi-scent;
    color: $primary;
  }
}

.navBadgeText {
  text-align: center;
  color: $secondary;
  font-weight: 500;
  font-size: 0.95rem;
}

.passphraseIcon {
  padding: 0.75rem 16px 0.25rem;
}

.iconPosition {
  left: 12px;
  position: relative;
}

.navBadgeLocked {
  color: $primary;
}
