// App and Bootstrap variables required
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '../../scss/variables';
@import '../../scss/bootstrap/variables';

.launchWrapper {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .launchView {
    display: grid;
    text-align: center;
    svg {
      margin: auto;
      width: 72px;
      height: 72px;
    }
  }

  .appTitle {
    font-size: 16px;
    letter-spacing: 0.44px;
    line-height: 24px;
    text-align: center;
    margin-top: 1rem;
  }

  .subAppVersion {
    color: $secondary;
    font-size: 12px;
    letter-spacing: 0.21px;
    line-height: 16px;
    text-align: center;
  }
}
