// App and Bootstrap variables required
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '../../scss/variables';
@import '../../scss/bootstrap/variables';

.launchWrapper {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .launchView {
    display: grid;
    text-align: center;
    svg {
      margin: auto;
      width: 72px;
      height: 72px;
    }
  }

  .appTitle {
    font-size: 16px;
    letter-spacing: 0.44px;
    line-height: 24px;
    text-align: center;
  }

  .subAppVersion {
    color: rgba(0, 0, 0, 0.6);
    font-size: 12px;
    letter-spacing: 0.21px;
    line-height: 16px;
    text-align: center;
  }

  .rotationconAnimation {
    text-align: center;
    svg {
      width: 3rem;
      height: 3rem;
      margin-top: 1rem;
      -webkit-animation: rotation 2s infinite linear;
      animation: rotation 2s infinite linear;
    }
  }
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    visibility: visible;
  }

  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
