// App and Bootstrap variables required
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '../../scss/variables';
@import '../../scss/bootstrap/variables';

.launchWrapper {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .launchView {
    display: grid;
    text-align: center;
    svg {
      margin: auto;
    }
  }
}
