// App and Bootstrap variables required
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '../../../../scss/variables';
@import '../../../../scss/bootstrap/variables';

.card {
  overflow: hidden;
}

.table {
  margin-bottom: 0;

  thead th {
    position: sticky;
    top: 0;
    background-color: $card-bg;
    box-shadow: 0 $table-border-width $table-border-color;
  }

  td {
    vertical-align: middle;
  }

  tr:first-child td,
  tr:first-child th {
    border-top: none;
  }
}

.typeIcon {
  width: 24px;
  height: 24px;
  color: $secondary;
}

.type,
.time {
  white-space: nowrap;
}

.hash {
  font-size: 0.875rem;
  letter-spacing: 0.25px;
}

.amount {
  text-align: right;
  letter-spacing: 0.44px;
}

.unit {
  color: $secondary;
}
