// App and Bootstrap variables required
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '../../../../../scss/variables';
@import '../../../../../scss/bootstrap/variables';
@import '../../../../../scss/utility';

.divisibilityDropdown {
  width: 100%;
  text-align: left;
  &:after {
    float: right;
    margin-top: 10px;
  }
}

.collateralDropdown {
  box-shadow: 0 0 0 0.0625rem #dc3545 !important;
}

.error-dialog {
  color: $dfi-red !important;
}

.collateralFormText {
  color: #dc3545 !important;
}

.scrollAuto {
  overflow: auto;
  height: 100px;
}
