// App and Bootstrap variables required
@import '../../scss/bootstrap/common';

.syncStatusWrapper {
  border-top: 1px solid $border-color;
  background-color: $white;
  min-height: 81px;
  padding: 16px 32px;
  position: sticky;
  bottom: 0;

  .syncHeading {
    font-size: 0.75rem;
    font-weight: $font-weight-medium;
    letter-spacing: 0.21px;
    line-height: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .blockStatus {
    color: $secondary;
    font-size: 0.75rem;
    letter-spacing: 0.21px;
    line-height: 1rem;
  }

  svg {
    width: 18px;
    height: 18px;
    margin-left: 2px;
    color: $green;
  }

  .syncProgress {
    margin-top: 8px;
    height: 8px;
  }

  .snapshotIcon {
    cursor: pointer;
    color: $secondary;

    svg {
      color: $secondary;
    }
  }
}
