// App and Bootstrap variables required
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '../../scss/variables';
@import '../../scss/bootstrap/variables';

.syncStatusWrapper {
  background-color: $white;
  border-top: 1px solid $gray-200;
  height: 96px;
  padding: 24px 32px;
  .synchronizing {
    color: $black;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.21px;
    line-height: 16px;
    text-align: left;
  }
  .blockStatus {
    color: $gray-600;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.21px;
    line-height: 16px;
    text-align: left;
  }
  svg {
    width: 18px;
    height: 18px;
    margin-left: 2px;
    color: $green;
  }
  .customProgressBar {
    margin-top: 5px;
    height: 8px;
  }
}
