// App and Bootstrap variables required
@import '~bootstrap/scss/functions';
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import '../../scss/variables';
@import '../../scss/bootstrap/variables';


.sidebar {
  width: 224px;
  background-color: $white;
  display: flex;
  flex-direction: column;
  flex: 0 0 224px;
  border-right: $border-width solid $border-color;
}

.brand {
  position: relative;
  height: 112px;
  border-bottom: $border-width solid $border-color;
  padding: 24px 20px;
  display: flex;
  flex-shrink: 0;

  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -1;
    -webkit-app-region: drag;
  }

  img {
    align-self: flex-end;
  }
}

.navs {
  flex-grow: 1;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.navMain,
.navSub {
  margin-top: 12px;
  margin-bottom: 16px;

  .navItem {
    margin-top: 4px;
    margin-bottom: 4px;
  }

  .navLink {
    color: $gray-600;
    display: flex;
    align-items: center;
    padding-top: .75rem;
    padding-bottom: .75rem;

    svg {
      width: 24px;
      height: 24px;
      margin-right: 12px;
    }
  }

  .active {
    background-color: $dfi-scent;
    color: $body-color;

    svg {
      color: $primary;
    }
  }
}