@import '../../../../scss/bootstrap/common';

.lockIcon {
  width: 80px;
  height: 80px;
  background-color: $light;
  text-align: center;
  line-height: 80px;
  border-radius: 100%;
  margin-bottom: 20px;
  padding: 20px;
  color: $secondary;
}

.lockSection {
  align-items: center;
  padding: 0;
  margin: 0;
  max-width: 100%;
}

.error-dialog {
  color: $dfi-red !important;
}
