// App and Bootstrap variables required
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '../../scss/variables';
@import '../../scss/bootstrap/variables';

.iconTitle {
  display: inline-block;
  vertical-align: middle;
}

.buttonLink {
  text-transform: none !important;
  width: 100%;
  text-align: left;
  svg {
    width: 48px;
    height: 48px;
  }
  h4 {
    color: rgb(0, 0, 0);
  }
  span {
    color: $secondary;
    font-size: 14px;
  }
}
.footerNote {
  text-align: center;
  span {
    color: $secondary;
    font-size: 14px;
    font-weight: 500;
  }
}
