// App and Bootstrap variables required
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '../../../../scss/variables';
@import '../../../../scss/bootstrap/variables';

.swapRow {
  display: flex;
  align-items: center;
}

.swapDirection {
  margin: 16px;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;

  svg {
    width: 24px;
    height: 24px;
    color: $primary;
  }
}
