// Variables
//
// Variables should follow the `$component-state-property-size` formula for

// Color system

$dfi-purple: #5b10ff;
$dfi-pink: #ff00af;
$dfi-green: #02b31b;
$dfi-orange: #ff9629;
$dfi-red: #ff0000;
$dfi-scent: #f4f3f6;
$dfi-umbra: #08091f;

$dfi-colors: (
  'dfi-purple': $dfi-purple,
  'dfi-pink': $dfi-pink,
  'dfi-green': $dfi-green,
  'dfi-orange': $dfi-orange,
  'dfi-red': $dfi-red,
  'dfi-scent': $dfi-scent,
  'dfi-umbra': $dfi-umbra,
);
