// App and Bootstrap variables required
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "../../scss/variables";
@import "../../scss/bootstrap/variables";

.dark {
  background-color: $gray-900 !important;
  color: $white;
}

.errorModal {
  text-align: center;
  margin-top: 6rem;

  .errorModalContent {
    display: inline-block;
  }

  svg {
    color: $dfi-red;
  }
}

.onContentModal {
  height: 400px;
  width: 400px !important;
}

.openErrorModal {
  filter: blur(5px);
}