// App and Bootstrap variables required
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '../../scss/variables';
@import '../../scss/bootstrap/variables';

.pairIcons {
  position: relative;
  width: 40px;
  height: 24px;

  > * {
    position: absolute;
  }

  > :nth-child(1) {
    left: 16px;
  }

  img {
    display: block;
  }
}
