// App and Bootstrap variables required
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '../../../../scss/variables';
@import '../../../../scss/bootstrap/variables';

.statCard {
  margin-bottom: 24px;
  height: calc(100% - 24px);
}

.cardBody {
  display: inline-block;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
}

.label {
  font-weight: $font-weight-medium;
  letter-spacing: 0.15px;
  width: 100%;
  margin-bottom: 0.5rem;
}

.value {
  font-weight: $font-weight-semibold;
  font-size: 2.125rem;
  line-height: 2.5rem;
}

.number {
  font-weight: $font-weight-medium;
  color: $secondary;
}

.margin {
  margin: 50px;
}

.txtWhite {
  color: #fff;
}

.txtPrimary {
  color: #ff00af;
}

.statCardIconAnimation {
  svg {
    -webkit-animation: rotation 2s infinite linear;
    animation: rotation 2s infinite linear;
  }
}

.statCardIcon {
  text-align: end;
}

.error-dailog {
  color: $dfi-red !important;
}
