// App and Bootstrap variables required
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '../../../../scss/variables';
@import '../../../../scss/bootstrap/variables';

.statCard {
  margin-bottom: 24px;
  height: calc(100% - 24px);
}

.cardBody {
  display: inline-block;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
}

.label {
  font-weight: $font-weight-medium;
  letter-spacing: 0.15px;
  width: 100%;
  margin-bottom: 0.5rem;
}

.value {
  font-weight: $font-weight-semibold;
  font-size: 2.125rem;
  line-height: 2.5rem;
}

.seeds {
  position: relative;

  &:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: $card-bg;
    bottom: 0;
    left: 0;
  }
}

.seedItem {
  display: flex;
}

.seedNumber {
  text-align: right;
  padding-right: 16px;
  width: 32px;
  flex-shrink: 0;
  white-space: nowrap;
  padding-top: 8px;
  padding-bottom: 8px;
  color: $secondary;
}

.seedWord {
  border-bottom: $border-width solid $border-color;
  flex-grow: 1;
  padding-top: 8px;
  padding-bottom: 8px;
}

.number {
  font-weight: $font-weight-medium;
  color: $secondary;
}

.margin {
  margin: 50px;
}

.txtWhite {
  color: #fff;
}

.txtPrimary {
  color: #ff00af;
}

.statCardActionWithIconAnimation {
  svg {
    -webkit-animation: rotation 2s infinite linear;
    animation: rotation 2s infinite linear;
  }
}

.statCardActionWithIcon {
  text-align: end;
}

.error-dailog {
  color: $dfi-red !important;
}
